@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
}

a[href] {
  text-decoration: none;
  color: blue;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

header, main, footer {
  padding: 1em 2em;
}

label[for="toggle_menu"], input {
  display: none;
}

ol {
  list-style: decimal;
  li ol {
    list-style: lower-alpha;
  }
}

#toggle_menu ~ label[for="toggle_menu"] {
  div {
    background-color: white;
    height: 5px;
    width: 35px;
    margin: 6px auto;
    opacity: 1;
    transition: inherit;
  }
  transition: all 0.3s ease;
}

#toggle_menu:checked ~ label[for="toggle_menu"] {
  div {
    height: 0;
    width: 0;
    margin: auto auto 0 auto;
  }
  div:last-of-type {
    display: block;
    background: none;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: calc(5px * 3) solid white;
  }
}

header {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-image: url(https://htop.dev/images/htop-2.0.png);
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.2;
  }
  background: black;
  color: white;
  position: sticky;
  top: 0;
  padding: 1em 2em;
  display: grid;
  grid-template-areas: "title nav"
                       "subtt subtt";
  grid-template-columns: 1fr auto;
  grid-gap: 1em;
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  h1 {
    grid-area: title;
  }
  h2 {
    grid-area: subtt;
  }
  a[href] {
    color: white;
  }
  nav {
    grid-area: nav;
    font-weight: bold;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      li {
        display: inline;
        padding: 0 0 0 2em;
        text-align: center;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  header {
    position: relative;
    grid-template-areas: "title"
                         "subtt"
                         "nav";
    nav {
      text-align: center;
      label[for="toggle_menu"] {
        display: inline-block;
        text-align: center;
      }
      ul li {
        flex-basis: 100%;
        padding: 1em 0 0 0;
      }

      input[type="checkbox"]:not(:checked) ~ ul {
        display: none;
      }
    }
  }
}

main {
  max-width: 1140px;
  margin: 2em auto;
  .title {
    h1, h2 {
      padding: 0;
      margin: 0;
    }
    display: inline-block;
    border-width: 0;
    border-color: #800020;
    border-style: solid;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-radius: 0 0 0 5px;
    padding: 0 20px 0 10px;
  }
}


.error_container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
  h1 {
    border: 0;
    padding: 0;
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

table {
  margin: 2em;
  width: calc(100% - 4em);
  border-collapse: collapse;
  tbody tr:nth-child(odd) {
    background-color: #ddd;
  }
  th {
    text-align: center;
  }
  td {
    border-right: 1px solid black;
    padding: 0.5em 1em;
    &:last-child {
      border-right: none;
    }
  }
}
